* {
  background-color: #fffaf5;
}

heade,
footer {
  height: 50px;
}

#card_content h1 {
  margin: 10vh 10vw 10vh 10vw;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10vh 10vw 10vh 10vw;
}

.content .teste {
  margin-left: 5vw;
}

.content .teste p {
  width: 90%;
}

/*.content img.draw {
  width: 120%;
}*/

/*
#card_content h1 {
  margin-bottom: 10vh;
}

#card_content p {
  margin-bottom: 10vh;
  padding-right: 30%;
}*/
