/*.dropdown {
  position: relative;
  float: right;
}*/
.dropdown #colorblind_vision {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1vw;
  background-color: #f5ddc4;
  border: 2px solid #000000;
  border-radius: 15px;
  padding: 2vh 1vw;
  margin-bottom: 2vh;
}

.dropdown #colorblind_vision p {
  font-family: Inter-Medium;
  font-size: 22px;
  margin: 0;
  background-color: #f5ddc4;
}

.dropdown #colorblind_vision img {
  height: 70%;
  width: auto;
  background-color: #f5ddc4;
}

.dropdown-options {
  display: none;
  position: absolute;
  overflow: auto;
  background-color: #f5ddc4;
  border: 2px solid #000000;
  padding: 1vh 3vw;
  border-radius: 15px;
}

.dropdown-options a {
  color: #000000;
  text-decoration: none;
}

.dropdown-options a p {
  font-family: Inter-Regular;
  font-size: 20px;
  background-color: #f5ddc4;
  transition-duration: 0.8s;
}

.dropdown-options a p:hover {
  font-family: Inter-SemiBold;
  transition-duration: 0.8s;
}

.dropdown:hover .dropdown-options {
  display: block;
  transition-duration: 0.8s;
}
