.fontSize {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5vh;
  margin: 25vh 0 0 3vw;
}

.fontSize div {
  font-size: 25px;
  font-family: Inter-Medium;
}

.fontSize #sizeUp,
.fontSize #sizeDown {
  cursor: pointer;
}
