#header_card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 5vh 3vw 0 3vw;
}

#go_back p {
  font-family: Inter-Medium;
  font-size: 25px;
}
