#header_card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: 5vh 5vw 0 5vw;
}

#go_back a {
  font-family: Inter-Medium;
  font-size: 25px;
  cursor: pointer;
  color: #000000;
  text-decoration: none;
  transition: 0.8s;
}

#go_back a:hover {
  color: #784108;
  transition: 0.8s;
}

#go_back {
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
  align-items: center;
}

#go_back img {
  width: auto;
  height: 30%;
}
