* {
  background-color: #fffaf5;
}
header {
  height: 100px;
}
/*---------PERSONA---------*/
#index_content h1 {
  margin: 10vh 0 10vh 10vw;
}

#persona_content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 4vw;
  column-gap: 3vw;
  row-gap: 7vh;
}

.imgtxt_container {
  width: 20%;
  height: auto;
}

footer {
  height: 100px;
}
