* {
  background-color: #fbfbfb;
}

footer {
  height: 50px;
}

#card_content h1 {
  margin: 10vh 10vw 10vh 8vw;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10vh 10vw 10vh 8vw;
}

.content .teste p {
  width: 65%;
  color: #0b0b0b;
}
.sound_img {
  height: auto;
  width: 3%;
}

.pause_img {
  margin-left: 1vw;
  height: auto;
  width: 3%;
}

.sound_img:hover,
.pause_img:hover {
  cursor: pointer;
}

/**/

.dropdown #colorblind_vision {
  background-color: #e0e0e0;
}

.dropdown #colorblind_vision p {
  background-color: #e0e0e0;
}

.dropdown #colorblind_vision img {
  background-color: #e0e0e0;
}

.dropdown-options {
  background-color: #e0e0e0;
}

.dropdown-options a p {
  background-color: #e0e0e0;
}

/**/

.fontSize {
  background-color: #e0e0e0;
}

.fontSize div {
  background-color: #e0e0e0;
}
