* {
  background-color: #fbfbfb;
}

heade,
footer {
  height: 50px;
}

#card_content h1 {
  margin: 10vh 10vw 10vh 14vw;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10vh 10vw 10vh 14vw;
}

.content .teste {
  margin-left: 5vw;
}

.content .teste p {
  width: 90%;
  color: #0b0b0b;
}
