* {
  background-color: #fdf9fe;
}

heade,
footer {
  height: 50px;
}

#card_content h1 {
  margin: 10vh 10vw 10vh 14vw;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10vh 10vw 10vh 14vw;
}

.content .teste {
  margin-left: 5vw;
}

.content .teste p {
  width: 90%;
  color: #111011;
}

.sound_img {
  height: auto;
  width: 5%;
}

.pause_img {
  margin-left: 1vw;
  height: auto;
  width: 5%;
}
